.u-section-1 .u-sheet-1 {
  min-height: 80px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 20px 6px;
}.u-section-2 .u-sheet-1 {
  min-height: 406px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 404px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 6px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 21px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 172px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 765px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 146px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 91px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 25px 7px;
}.u-section-4 .u-sheet-1 {
  min-height: 406px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 404px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  margin: 21px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-12 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-top: 172px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 765px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    margin-top: 146px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 80px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 21px;
  margin-top: 21px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: normal;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 406px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 404px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 7px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 7px auto 0;
}

.u-section-6 .u-text-8 {
  margin: 6px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  width: 214px;
  height: 214px;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  margin: 21px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 7px auto 0;
}

.u-section-6 .u-text-11 {
  margin: 7px auto 0;
}

.u-section-6 .u-text-12 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    margin-top: 172px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 765px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    margin-top: 146px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}